In [97]:
import pandas as pd
import numpy as np

In [98]:
data = pd.read_excel('data/survey_validation_indiv.xlsx')

In [99]:
# drop
data = data.drop(columns=['ID', 'Started on', 'Last updated on', 'Status', 'Collector',
       'Language', 'IP address', 'Device', 'Consent:','Lunch Combo Selection','Enter your Prolific ID to initiate the payment.'])

data = data[data['Attention']=='Somewhat satisfied'].rename(columns={'hot dogImage 12':'R.GRILL HOT DOG'})
data.head()

,Attention,How much do you anticipate to spend for lunch at a conveniece store like Couche Tard?,MUFFIN MORCEAUX CHOCOLAT,CROISSANT PUR BEURRE DANOISE YOG.GREC CERISE,DANOISE YOG.GREC CERISE,CHOCOLATINE,APPLE TURNOVER,RED BULL 250ML,RED BULL SANS SUCRE 250ML,PEPSI 591ML,...,not satisfied by the items included.3,other.2,"Could you tell us why you don't like the combo ""MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED BULL SANS SUCRE 25OML, TSB REMPLISSAGE CAFE""?",price is too expensive.4,not satisfied by the items included.4,other.3,"Could you tell us why you don't like the combo ""BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 250ML, PEPSI 591ML OR CK/CT EAU SOURCE 500ML""?",price is too expensive.5,not satisfied by the items included.5,other.4
0,Somewhat satisfied,$5 - $10,NaN,NaN,NaN,NaN,NaN,NaN,x,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Somewhat satisfied,$10 - $15,x,NaN,x,NaN,NaN,NaN,NaN,x,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Somewhat satisfied,$0 - $5,x,NaN,x,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,x,NaN,NaN,NaN,x,NaN,NaN
3,Somewhat satisfied,$10 - $15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,...,x,NaN,NaN,NaN,NaN,would never drink red bull,NaN,NaN,NaN,would never drink red bull
4,Somewhat satisfied,$10 - $15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x,...,NaN,NaN,NaN,NaN,x,NaN,NaN,NaN,NaN,NaN

In [100]:
# fill nan and x
data.iloc[:, 2:23] = data.iloc[:, 2:23].map(lambda x: 1 if x == 'x' else 0 if pd.isna(x) else x)
data.iloc[:, 2:23]

,MUFFIN MORCEAUX CHOCOLAT,CROISSANT PUR BEURRE DANOISE YOG.GREC CERISE,DANOISE YOG.GREC CERISE,CHOCOLATINE,APPLE TURNOVER,RED BULL 250ML,RED BULL SANS SUCRE 250ML,PEPSI 591ML,EAU SOURCE 500ML,MONSTER ENERGY 473ML,...,R.GRILL HOT DOG,PANINI AU STEAK,BAGUETTINE AU JAMBON,SANDWICH SALADE AUX OEUFS,COLLATION FRUITS ET FROMAGE,COLLATION PROTEINEE,LAY'S CLASSIC 66g\n,REESE STICKS GEANT,NUTELLA & GO,None of the above
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
419,0,0,0,1,0,0,0,1,1,0,...,0,0,1,0,0,0,1,0,1,0
420,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
421,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
422,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [101]:
# to select list
item_cols = data.columns[2:23]
data['chosen_items'] = data[item_cols].apply(lambda row: item_cols[row == 1].tolist(), axis=1)
data = data.drop(columns=list(item_cols)+['Attention'])

In [102]:
combo_dict = {
    'combo1_size2': ['MUFFIN MORCEAUX CHOCOLAT', 'R.GRILL HOT DOG'],
    'combo2_size2': ['COLLATION FRUITS ET FROMAGE', 'PANINI AU STEAK'],
    'combo3_size3': ['COLLATION FRUITS ET FROMAGE', 'PANINI AU STEAK','RED BULL 250ML'],
    'combo4_size4': ['BAGUETTINE AU JAMBON', "LAY'S CLASSIC 66g", 'PEPSI 591ML','ESKA 500ML'],
    'combo5_size4': ['MUFFIN MORCEAUX CHOCOLAT', 'R.GRILL HOT DOG', 'RED BULL SANS SUCRE 250ML','MOYEN CAFE REGULIER'],
    'combo6_size4': ['BAGUETTINE AU JAMBON', 'CHOCOLATINE', 'RED BULL 250ML','PEPSI 591ML','EAU SOURCE 500ML'],
}

# col counting matching items
for combo_name, combo_items in combo_dict.items():
    data[combo_name] = data['chosen_items'].apply(lambda items: sum(item in combo_items for item in items))

In [103]:
# to % and bins
import re

for col in combo_dict.keys():
    # extract combo name and size
    match = re.match(r"(combo\d+)_size(\d+)", col)
    if match:
        combo_name = match.group(1)
        combo_size = int(match.group(2))
        
        # create % column
        pct_col = f"{combo_name}_percent"
        data[pct_col] = data[col] / combo_size * 100
        
        # bins
        bin_col = f"{combo_name}_engagement_level"
        data[bin_col] = pd.cut(
            data[pct_col],
            bins=[-1, 1, 33, 55, 100],
            labels=['None', 'Low', 'Medium', 'High']
        )

In [104]:
import nltk
import spacy
from textblob import TextBlob
from nltk.corpus import stopwords
import spacy

# load
nlp = spacy.load("en_core_web_sm")

# def key words
vege_keywords = [
    'vegetarian', 'vegan', 'veggie', 'vege', 'plant-based',
    'plant based', 'meatless', 'no meat', 'vegatarian', 'veg', 'vgt', 'meat','processed meat', 'processed','animal products','trust'
]

# func process text
def clean_and_flag(text):
    if pd.isna(text):
        return "", [], 0

    doc = nlp(text)

    # cleaned tokens -> lowercase, alpha, no stop words
    tokens = [token.text.lower() for token in doc if token.is_alpha and not token.is_stop]

    # noun phrases
    phrases = [chunk.text.lower() for chunk in doc.noun_chunks]

    # vege mention flag
    vege_flag = int(any(re.search(rf"\b{kw}\b", text.lower()) for kw in vege_keywords))

    return ' '.join(tokens), phrases, vege_flag

other_cols = data.columns[data.columns.str.lower().str.startswith('other')]

for col in other_cols:
    result = data[col].apply(lambda x: pd.Series(clean_and_flag(x)))
    result.columns = [f"{col}_cleaned", f"{col}_phrases", f"{col}_is_vege"]
    data = pd.concat([data, result], axis=1)

In [105]:
# unite to one flag
data[data.columns[data.columns.str.endswith('_is_vege')]].max(axis=1)

data['is_vege_any'] = data[data.columns[data.columns.str.endswith('_is_vege')]].max(axis=1)

data = data.drop(columns=data.columns[data.columns.str.endswith('_is_vege')])

In [106]:
from collections import Counter

# find phrase cols
phrase_cols = data.columns[data.columns.str.endswith('_phrases')]

# flatten
all_phrases = []

for col in phrase_cols:
    col_phrases = data[col].dropna().tolist()
    for phrase_list in col_phrases:
        all_phrases.extend(phrase_list)

# count freq
phrase_counts = Counter(all_phrases)
phrase_df = pd.DataFrame(phrase_counts.items(), columns=['Phrase', 'Count'])
# sort
phrase_df = phrase_df.sort_values(by='Count', ascending=False).reset_index(drop=True)

In [107]:
from sentence_transformers import SentenceTransformer
from sklearn.cluster import AgglomerativeClustering

# top only
top_phrase_df = phrase_df[phrase_df['Count'] >= 2].copy()  # or adjust threshold as needed
top_phrases = top_phrase_df['Phrase'].tolist()


# embeddings
model = SentenceTransformer('all-MiniLM-L6-v2')
embeddings = model.encode(top_phrases)

# cluster
clustering = AgglomerativeClustering(
    n_clusters=None, 
    distance_threshold=0.4, 
    linkage='ward'
)
labels = clustering.fit_predict(embeddings)
top_phrase_df['Cluster'] = labels

cluster_summary = top_phrase_df.groupby('Cluster').agg({
    'Phrase': list,
    'Count': sum
}).reset_index()

C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\3604934267.py:22: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cluster_summary = top_phrase_df.groupby('Cluster').agg({

In [108]:
cluster_summary

    Cluster                    Phrase  Count
0         0  [a hot dog, the hot dog]      6
1         1  [red bull, the red bull]     43
2         2       [hot dog, hot dogs]      6
3         3               [the items]      2
4         4               [this type]      2
..      ...                       ...    ...
63       63                 [redbull]     17
64       64                [overkill]      2
65       65          [too much sugar]      3
66       66           [energy drinks]     18
67       67         [animal products]      6

[68 rows x 3 columns]

In [109]:
# func nps and cate
def compute_nps_and_counts(series):
    total = series.notna().sum()
    promoters = (series >= 9).sum()
    passives = ((series >= 7) & (series <= 8)).sum()
    detractors = (series <= 6).sum()
    nps = ((promoters - detractors) / total) * 100 if total > 0 else None
    return promoters, passives, detractors, nps

# cols
rating_cols = list(data.iloc[:,1:7].columns)
combo_names = ['combo1', 'combo2', 'combo3', 'combo4', 'combo5', 'combo6']
spending_col = "How much do you anticipate to spend for lunch at a conveniece store like Couche Tard?"

# segment 
results = []

for i, rating_col in enumerate(rating_cols):
    combo = combo_names[i]
    engagement_col = f"{combo}_engagement_level"

    if engagement_col not in data.columns:
        continue  

    # groupings [spend lvl and engagement and is vege]
    grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])

    for (spending_level, engagement_level, is_vege), group in grouped:
        promoters, passives, detractors, nps = compute_nps_and_counts(group[rating_col])
        results.append({
            'Rating Column': rating_col,
            'Spending Level': spending_level,
            'Engagement Level': engagement_level,
            'Is Vege': is_vege,
            'Promoters': promoters,
            'Passives': passives,
            'Detractors': detractors,
            'NPS': nps
        })

segmented_df = pd.DataFrame(results)

segmented_df

C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])
C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])
C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])
C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])
C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])
C:\Users\kbzh\AppData\Local\Temp\ipykernel_54672\539124923.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = data[[rating_col, spending_col, engagement_col,'is_vege_any']].dropna().groupby([spending_col, engagement_col,'is_vege_any'])

,Rating Column,Spending Level,Engagement Level,Is Vege,Promoters,Passives,Detractors,NPS
0,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,None,0,4,3,14,-47.619048
1,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,None,1,0,0,2,-100.000000
2,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,Medium,0,3,0,4,-14.285714
3,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,Medium,1,0,0,1,-100.000000
4,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,High,0,2,0,1,33.333333
...,...,...,...,...,...,...,...,...
122,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,None,1,0,0,7,-100.000000
123,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,Low,0,12,12,62,-58.139535
124,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,Low,1,0,0,2,-100.000000
125,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,Medium,0,0,5,22,-81.481481
126,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,High,0,1,1,3,-40.000000

In [110]:
# overall
overall_nps_df = (
    segmented_df
    .groupby('Rating Column')[['Promoters', 'Passives', 'Detractors']]
    .sum()
    .reset_index()
)

overall_nps_df['Total Responses'] = (
    overall_nps_df['Promoters'] +
    overall_nps_df['Passives'] +
    overall_nps_df['Detractors']
)

overall_nps_df['Overall NPS'] = (
    (overall_nps_df['Promoters'] - overall_nps_df['Detractors']) /
    overall_nps_df['Total Responses']
) * 100

overall_nps_df

,Rating Column,Promoters,Passives,Detractors,Total Responses,Overall NPS
0,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",47,59,298,404,-62.128713
1,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",85,103,216,404,-32.425743
2,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",92,109,203,404,-27.475248
3,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",41,53,310,404,-66.584158
4,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,73,83,248,404,-43.316832
5,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",21,50,333,404,-77.227723

In [111]:
# segment by engagement lvl
engagement_lvl_nps_df = (
    segmented_df
    .groupby(['Rating Column','Engagement Level'])[['Promoters', 'Passives', 'Detractors']]
    .sum()
    .reset_index()
)

engagement_lvl_nps_df['Total Responses'] = (
    engagement_lvl_nps_df['Promoters'] +
    engagement_lvl_nps_df['Passives'] +
    engagement_lvl_nps_df['Detractors']
)

engagement_lvl_nps_df['Overall NPS'] = (
    (engagement_lvl_nps_df['Promoters'] - engagement_lvl_nps_df['Detractors']) /
    engagement_lvl_nps_df['Total Responses']
) * 100

engagement_lvl_nps_df

,Rating Column,Engagement Level,Promoters,Passives,Detractors,Total Responses,Overall NPS
0,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",High,1,2,5,8,-50.000000
1,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",Low,23,25,127,175,-59.428571
2,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",Medium,15,20,44,79,-36.708861
3,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",None,8,12,122,142,-80.281690
4,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Low,46,45,62,153,-10.457516
5,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Medium,17,7,10,34,20.588235
6,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",None,22,51,144,217,-56.221198
7,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",High,4,0,1,5,60.000000
8,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",Medium,42,43,64,149,-14.765101
9,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",None,46,66,138,250,-36.800000
10,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",High,5,3,2,10,30.000000
11,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",Medium,15,19,120,154,-68.181818
12,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",None,21,31,188,240,-69.583333
13,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,High,8,3,1,12,58.333333
14,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,Medium,31,32,51,114,-17.543860
15,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,None,34,48,196,278,-58.273381
16,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",High,0,3,0,3,0.000000
17,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Low,12,22,113,147,-68.707483
18,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Medium,3,7,33,43,-69.767442
19,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",None,6,18,187,211,-85.781991

In [112]:
# segment by Spending Level	
spending_lvl_nps_df = (
    segmented_df
    .groupby(['Rating Column','Spending Level'])[['Promoters', 'Passives', 'Detractors']]
    .sum()
    .reset_index()
)

spending_lvl_nps_df['Total Responses'] = (
    spending_lvl_nps_df['Promoters'] +
    spending_lvl_nps_df['Passives'] +
    spending_lvl_nps_df['Detractors']
)

spending_lvl_nps_df['Overall NPS'] = (
    (spending_lvl_nps_df['Promoters'] - spending_lvl_nps_df['Detractors']) /
    spending_lvl_nps_df['Total Responses']
) * 100

spending_lvl_nps_df

,Rating Column,Spending Level,Promoters,Passives,Detractors,Total Responses,Overall NPS
0,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$0 - $5,2,4,28,34,-76.470588
1,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$10 - $15,26,22,96,144,-48.611111
2,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$15-$20,5,5,14,24,-37.500000
3,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$20-$25,0,2,1,3,-33.333333
4,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,14,26,159,199,-72.864322
5,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$0 - $5,3,7,24,34,-61.764706
6,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$10 - $15,41,41,62,144,-14.583333
7,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$15-$20,8,9,7,24,4.166667
8,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$20-$25,0,2,1,3,-33.333333
9,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$5 - $10,33,44,122,199,-44.723618
10,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$0 - $5,2,10,22,34,-58.823529
11,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$10 - $15,47,35,62,144,-10.416667
12,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$15-$20,11,6,7,24,16.666667
13,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$20-$25,0,1,2,3,-66.666667
14,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$5 - $10,32,57,110,199,-39.195980
15,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$0 - $5,2,3,29,34,-79.411765
16,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$10 - $15,18,29,97,144,-54.861111
17,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$15-$20,7,3,14,24,-29.166667
18,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$20-$25,1,1,1,3,0.000000
19,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$5 - $10,13,17,169,199,-78.391960
20,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,9,3,22,34,-38.235294
21,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$10 - $15,26,34,84,144,-40.277778
22,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$15-$20,5,6,13,24,-33.333333
23,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$20-$25,0,1,2,3,-66.666667
24,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$5 - $10,33,39,127,199,-47.236181
25,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$0 - $5,1,4,29,34,-82.352941
26,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$10 - $15,10,16,118,144,-75.000000
27,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$15-$20,4,4,16,24,-50.000000
28,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$20-$25,0,2,1,3,-33.333333
29,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$5 - $10,6,24,169,199,-81.909548

In [113]:
# segment by engagement lvl and vege
vege_engagement_lvl_nps_df = (
    segmented_df
    .groupby(['Rating Column','Engagement Level', 'Is Vege'])[['Promoters', 'Passives', 'Detractors']]
    .sum()
    .reset_index()
)

vege_engagement_lvl_nps_df['Total Responses'] = (
    vege_engagement_lvl_nps_df['Promoters'] +
    vege_engagement_lvl_nps_df['Passives'] +
    vege_engagement_lvl_nps_df['Detractors']
)

vege_engagement_lvl_nps_df['Overall NPS'] = (
    (vege_engagement_lvl_nps_df['Promoters'] - vege_engagement_lvl_nps_df['Detractors']) /
    vege_engagement_lvl_nps_df['Total Responses']
) * 100

vege_engagement_lvl_nps_df

,Rating Column,Engagement Level,Is Vege,Promoters,Passives,Detractors,Total Responses,Overall NPS
0,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",High,0,1,2,5,8,-50.000000
1,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",Low,0,23,25,121,169,-57.988166
2,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",Low,1,0,0,6,6,-100.000000
3,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",Medium,0,15,20,44,79,-36.708861
4,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",None,0,8,12,111,131,-78.625954
5,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",None,1,0,0,11,11,-100.000000
6,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Low,0,46,45,60,151,-9.271523
7,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Low,1,0,0,2,2,-100.000000
8,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Medium,0,17,7,10,34,20.588235
9,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",None,0,22,50,130,202,-53.465347
10,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",None,1,0,1,14,15,-93.333333
11,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",High,0,4,0,1,5,60.000000
12,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",Medium,0,41,43,59,143,-12.587413
13,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",Medium,1,1,0,5,6,-66.666667
14,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",None,0,45,63,131,239,-35.983264
15,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",None,1,1,3,7,11,-54.545455
16,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",High,0,5,3,2,10,30.000000
17,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",Medium,0,15,19,114,148,-66.891892
18,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",Medium,1,0,0,6,6,-100.000000
19,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",None,0,21,30,178,229,-68.558952
20,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",None,1,0,1,10,11,-90.909091
21,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,High,0,8,3,1,12,58.333333
22,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,Medium,0,30,31,48,109,-16.513761
23,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,Medium,1,1,1,3,5,-40.000000
24,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,None,0,34,48,184,266,-56.390977
25,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,None,1,0,0,12,12,-100.000000
26,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",High,0,0,3,0,3,0.000000
27,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Low,0,12,21,106,139,-67.625899
28,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Low,1,0,1,7,8,-87.500000
29,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Medium,0,3,7,31,41,-68.292683
30,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",Medium,1,0,0,2,2,-100.000000
31,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",None,0,6,18,180,204,-85.294118
32,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",None,1,0,0,7,7,-100.000000

In [114]:
# segment by spending and vege
vege_spending_lvl_nps_df = (
    segmented_df
    .groupby(['Rating Column','Spending Level', 'Is Vege'])[['Promoters', 'Passives', 'Detractors']]
    .sum()
    .reset_index()
)

vege_spending_lvl_nps_df['Total Responses'] = (
    vege_spending_lvl_nps_df['Promoters'] +
    vege_spending_lvl_nps_df['Passives'] +
    vege_spending_lvl_nps_df['Detractors']
)

vege_spending_lvl_nps_df['Overall NPS'] = (
    (vege_spending_lvl_nps_df['Promoters'] - vege_spending_lvl_nps_df['Detractors']) /
    vege_spending_lvl_nps_df['Total Responses']
) * 100

vege_spending_lvl_nps_df

,Rating Column,Spending Level,Is Vege,Promoters,Passives,Detractors,Total Responses,Overall NPS
0,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$0 - $5,0,2,4,25,31,-74.193548
1,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$0 - $5,1,0,0,3,3,-100.000000
2,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$10 - $15,0,26,22,92,140,-47.142857
3,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$10 - $15,1,0,0,4,4,-100.000000
4,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$15-$20,0,5,5,13,23,-34.782609
5,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$15-$20,1,0,0,1,1,-100.000000
6,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$20-$25,0,0,2,1,3,-33.333333
7,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,0,14,26,150,190,-71.578947
8,"BAGUETTINE AU JAMBON, CHOCOLATINE, RED BULL 26...",$5 - $10,1,0,0,9,9,-100.000000
9,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$0 - $5,0,3,7,21,31,-58.064516
10,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$0 - $5,1,0,0,3,3,-100.000000
11,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$10 - $15,0,41,40,59,140,-12.857143
12,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$10 - $15,1,0,1,3,4,-75.000000
13,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$15-$20,0,8,9,6,23,8.695652
14,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$15-$20,1,0,0,1,1,-100.000000
15,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$20-$25,0,0,2,1,3,-33.333333
16,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$5 - $10,0,33,44,113,190,-42.105263
17,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$5 - $10,1,0,0,9,9,-100.000000
18,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$0 - $5,0,2,10,19,31,-54.838710
19,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$0 - $5,1,0,0,3,3,-100.000000
20,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$10 - $15,0,47,34,59,140,-8.571429
21,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$10 - $15,1,0,1,3,4,-75.000000
22,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$15-$20,0,11,6,6,23,21.739130
23,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$15-$20,1,0,0,1,1,-100.000000
24,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$20-$25,0,0,1,2,3,-66.666667
25,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$5 - $10,0,30,55,105,190,-39.473684
26,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$5 - $10,1,2,2,5,9,-33.333333
27,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$0 - $5,0,2,3,26,31,-77.419355
28,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$0 - $5,1,0,0,3,3,-100.000000
29,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$10 - $15,0,18,29,93,140,-53.571429
30,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$10 - $15,1,0,0,4,4,-100.000000
31,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$15-$20,0,7,3,13,23,-26.086957
32,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$15-$20,1,0,0,1,1,-100.000000
33,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$20-$25,0,1,1,1,3,0.000000
34,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$5 - $10,0,13,16,161,190,-77.894737
35,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$5 - $10,1,0,1,8,9,-88.888889
36,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,0,9,3,19,31,-32.258065
37,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$0 - $5,1,0,0,3,3,-100.000000
38,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$10 - $15,0,26,33,81,140,-39.285714
39,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$10 - $15,1,0,1,3,4,-75.000000
40,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$15-$20,0,5,6,12,23,-30.434783
41,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$15-$20,1,0,0,1,1,-100.000000
42,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$20-$25,0,0,1,2,3,-66.666667
43,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$5 - $10,0,32,39,119,190,-45.789474
44,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,$5 - $10,1,1,0,8,9,-77.777778
45,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$0 - $5,0,1,4,26,31,-80.645161
46,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$0 - $5,1,0,0,3,3,-100.000000
47,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$10 - $15,0,10,16,114,140,-74.285714
48,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$10 - $15,1,0,0,4,4,-100.000000
49,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$15-$20,0,4,4,15,23,-47.826087
50,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$15-$20,1,0,0,1,1,-100.000000
51,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$20-$25,0,0,2,1,3,-33.333333
52,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$5 - $10,0,6,23,161,190,-81.578947
53,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",$5 - $10,1,0,1,8,9,-88.888889

In [115]:
display(
    engagement_lvl_nps_df[engagement_lvl_nps_df['Overall NPS'] >= -20],
    spending_lvl_nps_df[spending_lvl_nps_df['Overall NPS'] >= -20],
    vege_engagement_lvl_nps_df[vege_engagement_lvl_nps_df['Overall NPS'] >= -20],
    vege_spending_lvl_nps_df[vege_spending_lvl_nps_df['Overall NPS'] >= -20]
)

,Rating Column,Engagement Level,Promoters,Passives,Detractors,Total Responses,Overall NPS
4,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Low,46,45,62,153,-10.457516
5,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Medium,17,7,10,34,20.588235
7,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",High,4,0,1,5,60.000000
8,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",Medium,42,43,64,149,-14.765101
10,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",High,5,3,2,10,30.000000
13,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,High,8,3,1,12,58.333333
14,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,Medium,31,32,51,114,-17.543860
16,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",High,0,3,0,3,0.000000

,Rating Column,Spending Level,Promoters,Passives,Detractors,Total Responses,Overall NPS
6,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$10 - $15,41,41,62,144,-14.583333
7,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$15-$20,8,9,7,24,4.166667
11,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$10 - $15,47,35,62,144,-10.416667
12,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$15-$20,11,6,7,24,16.666667
18,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$20-$25,1,1,1,3,0.000000

,Rating Column,Engagement Level,Is Vege,Promoters,Passives,Detractors,Total Responses,Overall NPS
6,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Low,0,46,45,60,151,-9.271523
8,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",Medium,0,17,7,10,34,20.588235
11,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",High,0,4,0,1,5,60.000000
12,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",Medium,0,41,43,59,143,-12.587413
16,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",High,0,5,3,2,10,30.000000
21,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,High,0,8,3,1,12,58.333333
22,MUFFIN MORCEAUX CHOCOLAT & GRILL HOT DOG,Medium,0,30,31,48,109,-16.513761
26,"MUFFIN MORCEAUX CHOCOLAT, R.GRILL HOT DOG, RED...",High,0,0,3,0,3,0.000000

,Rating Column,Spending Level,Is Vege,Promoters,Passives,Detractors,Total Responses,Overall NPS
11,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$10 - $15,0,41,40,59,140,-12.857143
13,"BAGUETTINE AU JAMBON, LAY'S CLASSIC 77g, PEPSI...",$15-$20,0,8,9,6,23,8.695652
20,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$10 - $15,0,47,34,59,140,-8.571429
22,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK",$15-$20,0,11,6,6,23,21.739130
33,"COLLATION FRUITS ET FROMAGE, PANINI AU STEAK, ...",$20-$25,0,1,1,1,3,0.000000

In [116]:
dfs = {
    "NLP Phrase Count": cluster_summary,
    "Raw Segmented NPS": segmented_df,
    "Overall NPS": overall_nps_df,
    "Engagement Level": engagement_lvl_nps_df,
    'Spending Level': spending_lvl_nps_df,
    "Is Vege Engagement Level": vege_engagement_lvl_nps_df,
    "Is Vege Spending Level": vege_spending_lvl_nps_df,
    "Engagement Label Definition": pd.DataFrame({
                                    'Threshold': ['<= 1%', '2% to 33%', '34% to 55%', '56% to 100%'],
                                    'Category': ['None', 'Low', 'Medium', 'High']
                                }),
    "NPS Definition": pd.DataFrame({'Range': ['Rating 9-10', 'Rating 7-8', 'Rating 0-6'],
    'Category': ['Promoters', 'Passives', 'Detractors']
})
}

with pd.ExcelWriter("result/validation_output.xlsx") as writer:
    for sheet_name, df in dfs.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)